
   .align{
       text-align: center;
       background-color: lightblue;
       align-items: center;
       font-size: 20px;
       font-style:inherit;
        font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
   }